---
layout: default
title: Conor McAfee | Designer &amp; Front-End Developer
description: I'm a Designer &amp; Front-End Developer from Ballymena Northen Ireland.
---

<section class="intro">

  <div class="wrapper">

  <div class="card card-small" data-intro="journal">
    <div class="card__top">
      <p class="card__title">Latest Journals</p>
      <ul class="card__list">
      {% for post in site.categories.journal limit:3 %}
        <li class="card__list-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
        <li class="card__list-item"><a href="#">Dummy Title</a></li>
        <li class="card__list-item"><a href="#">Dummy Title Part 2</a></li>
      </ul>
    </div>

    <div class="card__bottom">
      <a href="#" class="card__link" title="See all Journals">See all Journals</a>
    </div>

  </div>

  <div class="card card-large">
    <div class="card__main-image" style="background-image: url('/assets/images/homepage/conor-mcafee.jpg');"></div>
    <img src="assets/images/conor-mcafee-logo.svg" alt="Conor McAfee | Designer &amp; Front-End Developer" height="60" width="200" class="card__logo">
    <p class="card__text">Designer <span>&amp;</span> Front-End Developer</p>
    <ul class="card__nav-list">
      <li class="card__nav-list-item"><a href="http://www.twitter.com/conormcafee" title="Follow me on Twitter"><img src="/assets/images/social/twitter.svg" height="30" width="30" alt="Twitter Logo" /></a></li>
      <li class="card__nav-list-item"><a href="http://www.instagram.com/conormcafee" title="Follow me on Instagram"><img src="/assets/images/social/instagram.svg" height="30" width="30" alt="Instagram Logo" /></a></li>
      <li class="card__nav-list-item"><a href="http://www.dribbble.com/conormcafee" title="Follow me on Dribbble"><img src="/assets/images/social/dribbble.svg" height="30" width="30" alt="Dribbble Logo" /></a></li>
      <li class="card__nav-list-item"><a href="http://www.github.com/conormcafee" title="Follow me on Github"><img src="/assets/images/social/github.svg" height="30" width="30" alt="Github Logo" /></a></li>
    </ul>
  </div>

  <div class="card card-small" data-intro="case-study">
    <div class="card__top">
      <p class="card__title">Latest Case Studies</p>
      <ul class="card__list">
      {% for post in site.categories.case-studies limit:3 %}
        <li class="card__list-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
        <li class="card__list-item"><a href="#">Dummy Case Study</a></li>
      </ul>
    </div>
    <div class="card__bottom">
      <a href="#" class="card__link" title="See all Case Studies">See all Case Studies</a>
    </div>
  </div>

  </div>

</section>

<section class="about" id="about">

  <div class="wrapper">

    <div class="bio bio--centre">

      <p class="bio__text">I'm a designer &amp; front-end developer from Ballymena, Northern Ireland.</p>

      <p class="bio__text">I have 3 years of industry experience, currently applying my trade at dotRetailer in Belfast's Titanic Quarter.</p>

      <p class="bio__text">Responsive Web Design and Performance Optimisation are my thing.</p>

    </div>

    <div class="bio bio--half">

    <p class="bio__text"></p>

    </div>

    <!--<div class="sprite" data-sprite="amnexday"></div>
    <div class="sprite" data-sprite="activwireless"></div>
    <div class="sprite" data-sprite="ni-open"></div>
    <div class="sprite" data-sprite="blue-horizon-developments"></div>
    <div class="sprite" data-sprite="ulster-uni"></div>
    <div class="sprite" data-sprite="nobel-cafe"></div>
    <div class="sprite" data-sprite="gpr"></div>
    <div class="sprite" data-sprite="kyoto-pearl"></div>
    <div class="sprite" data-sprite="pet-warehouse"></div>
    <div class="sprite" data-sprite="wallaces"></div>
    <div class="sprite" data-sprite="remus"></div>
    <div class="sprite" data-sprite="counties"></div>-->

  </div>

</section>

<section class="journal" id="journal">

<div class="wrapper">

  <div class="journal--main">

  {% for post in site.categories.journal %}
  <div class="journal-card">
    <a href="{{ post.url | prepend: site.baseurl }}" class="journal-card__title">{{ post.title }}</a>
    <p class="journal-card__excerpt">{{ post.excerpt | strip_html | truncate:250 }}</p>
    <p class="journal-card__date">{{ post.date | date: "%b %-d, %Y" }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="journal-card__read">Read Journal</a>
  </div>

  <div class="journal-card">
    <a href="{{ post.url | prepend: site.baseurl }}" class="journal-card__title">{{ post.title }}</a>
    <p class="journal-card__excerpt">{{ post.excerpt | strip_html | truncate:250 }}</p>
    <p class="journal-card__date">{{ post.date | date: "%b %-d, %Y" }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="journal-card__read">Read Journal</a>
  </div>
  {% endfor %}

  </div>

  <div class="journal--side">

    <p>Test</p>

  </div>

</div>

</section>

<section class="case-studies" id="case-studies">

  

</section>



<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>