---
layout: default
title: Conor McAfee | Designer &amp; Front-End Developer
description: I'm a Designer &amp; Front-End Developer from Ballymena Northen Ireland.
---

<main class="welcome">

  <div class="welcome--wrapper">

    <div class="welcome-card welcome-card--middle welcome--one">
      <div class="welcome-card__image"></div>
      <img src="assets/images/conor-mcafee-logo.svg" alt="Conor McAfee | Designer &amp; Front-End Developer" height="60" width="200" class="welcome-card__logo">
      <p class="welcome-card__logo-text">Designer <span>&amp;</span> Front-End Developer</p>
      <ul class="welcome-card__social-list">
        <li class="welcome-card__social-item"><a href="http://www.twitter.com/conormcafee" target="_blank" title="Follow me on Twitter"><img src="/assets/images/social/twitter.svg" height="30" width="30" alt="Twitter Logo" /></a></li>
        <li class="welcome-card__social-item"><a href="http://www.instagram.com/conormcafee" target="_blank" title="Follow me on Instagram"><img src="/assets/images/social/instagram.svg" height="30" width="30" alt="Instagram Logo" /></a></li>
        <li class="welcome-card__social-item"><a href="http://www.dribbble.com/conormcafee" target="_blank" title="Follow me on Dribbble"><img src="/assets/images/social/dribbble.svg" height="30" width="30" alt="Dribbble Logo" /></a></li>
        <li class="welcome-card__social-item"><a href="http://www.github.com/conormcafee" target="_blank" title="Follow me on Github"><img src="/assets/images/social/github.svg" height="30" width="30" alt="Github Logo" /></a></li>
      </ul>
    </div>

    <div class="welcome-card welcome--two" data-welcome="case-study">
      <p class="welcome-card__title">Latest Case Studies</p>
      <ul class="welcome-card__list">
      {% for post in site.categories.case-studies limit:3 %}
        <li class="welcome-card__list-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      <a href="#posts" class="btn welcome-card__link" title="See all Case Studies">See all Case Studies</a>
    </div>

    <div class="welcome-card welcome--three" data-welcome="journal">
      <p class="welcome-card__title">Latest Journals</p>
      <ul class="welcome-card__list">
      {% for post in site.categories.journal limit:3 %}
        <li class="welcome-card__list-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      <a href="#posts" class="btn welcome-card__link" title="See all Journals">See all Journals</a>
    </div>

  </div>

</main>

<nav class="nav nav--homepage">
  <a href="#about" class="nav__link" title="About Conor McAfee">About</a>
  <a href="#posts" class="nav__link" title="See my Case Studies">Case Studies</a>
  <a href="#posts" class="nav__link" title="See my Journals">Journal</a>
</nav>

<section class="about" id="about">
  <div class="wrapper">

    <div class="about__column about__column--one">
      <h2 class="about__heading">About</h2>

      <p class="about__text">I'm a designer & front-end developer from Ballymena, Northern Ireland with 3 years industry experience. Currently, I am working for dotRetailer in Belfast's Titanic Quarter.</p>

      <p class="about__text">My aim is to build well executed websites, that look &amp; perform great on all devices.  We're now at a stage where a large chunk of are users browse from a mobile device, be it a mobile phone or tablet.  Those users browsing over a 3G connection do not need to be downloading unnecessary content, I aim to prioritise whats necssary - giving users the best possible experience accessing the web.</p>

      <a href="javascript: void(0)" class="btn btn--continue btn--continue-inactive" title="Click to read more about Conor McAfee" alt="Click to read more about Conor McAfee">Read more about Conor</a>
    </div>

    <div class="about__column about__column--two about--js about--hidden">
      <h2 class="about__heading">Employment</h2>
        
      <div class="about__employment">
        
        <div class="about__employment-nav">
          <a href="javascript: void(0)" class="about__employment-link about__employment-link--active" id="js-0-title" title="dotRetailer" alt="Other Jobs">dotRetailer</a>
          <a href="javascript: void(0)" class="about__employment-link" id="js-1-title" title="ActivWireless" alt="Other Jobs">ActivWireless</a>
          <a href="javascript: void(0)" class="about__employment-link" id="js-2-title" title="Northern Ireland Open Challenge Tour" alt="Other Jobs">NI Open</a>
          <a href="javascript: void(0)" class="about__employment-link" id="js-3-title" title="University of Ulster" alt="Other Jobs">Uni of Ulster</a>
        </div>

        {% for job in site.data.jobs %}
        <ul id="js-{{ job.number }}" class="about__employment-list about__employment--js-{{ job.state }}">
          <li class="about__employment-item about__employment--title">{{ job.title }}</li>
          <li class="about__employment-item about__employment--role">{{ job.role }}</li>
          <li class="about__employment-item about__employment--desc">{{ job.desc }}</li>
        </ul>
        {% endfor %}
      </div>
    </div>

    <div class="about__column about__column--one about--js about--hidden">
      <h2 class="about__heading">Skillset</h2>

      <ul class="about__list">
        {% for skill in site.data.skills %}
        <li class="about__list-item">{{ skill.name }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="about__column about__column--two about--js about--hidden">
      <h2 class="about__heading">Some Projects I've Worked On</h2>

      <ul class="about__list">
        {% for client in site.data.clients %}
        <li class="about__list-item">{{ client.name }}</li>
        {% endfor %}
      </ul>
    </div>

    {% include contact.html %}
  
  </div>
</section>

<section class="posts" id="posts" data-post="journal">
  <div class="post-card post-card--intro">
    <p class="post-card__header">Case Studies &amp; Journals</p>
  </div>
  {% for post in site.posts %}
  <div class="post-card" data-post="{{ post.type }}">
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-card__title">{{ post.title }}</a>
    <p class="post-card__excerpt">{{ post.excerpt | strip_html | truncate:150 }}</p>
    <p class="post-card__date">{{ post.date | date: "%b %-d, %Y" }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="btn post-card__read">Read {{ post.type }}</a>
  </div>
  {% endfor %}
</section>

{% include footer.html %}

<script async src="{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js"></script>
<script async src="{{ site.baseurl }}/assets/js/homepage.js"></script>