---
layout: default
title: Conor McAfee | Designer &amp; Front-End Developer
description: I'm a Designer &amp; Front-End Developer from Ballymena Northen Ireland.
---

<div class="hero"></div>

<div class="column--wrapper">

  <div class="column column__one">

    <div class="column__logo">

      <img src="assets/images/conor-mcafee-logo.svg" alt="Conor McAfee | Designer &amp; Front-End Developer" height="60" width="200">

      <p class="column__logo-text">Designer <span>&amp;</span> Front-End Developer</p>

    </div>

  </div>
  
  <div class="column column__two">
    
    <a href="#" class="column__link">About</a>

  </div>

  <div class="column column__three">
    
    <a href="#" class="column__link">Work</a>

  </div>

  <div class="column column__four">
    
    <a href="#" class="column__link">Contact</a>

  </div>

</div>

<div class="about">

      <img src="assets/images/conor-mcafee-logo.svg" alt="Conor McAfee | Designer &amp; Front-End Developer" height="60" width="200">

      <p>Designer <span>&amp;</span> Front-End Developer</p>

      <p>Hi, I'm a designer &amp; front-end developer from Ballymena, Northern Ireland with 3 years industry experience.  Currently, I am working for dotRetailer in Belfast's Titanic Quarter.</p>

      <p>Be sure to check out my <a href="/work/" title="Check out my work: Case Studies &amp; Journals" class="about__link">work</a>, I have documented case studies to look through as well as journals on design &amp; front-end development.  If you wish to contact me, you can do so via <a href="http://www.twitter.com/conormcafee" title="Tweet me" class="about__link" target="_blank">@conormcafee</a> on Twitter or via email <a href="mailto:hello@conormcafee.co.uk" title="Email me" class="about__link">hello@conormcafee.co.uk</a>.</p>

      <p>I have experience in working with:</p>

      <ul>
        {% for skill in site.data.skills %}
        <li>{{ skill.name }}</li>
        {% endfor %}
      </ul>

      <p>My primary focus is on front-end development.  To me, this is the most important part of the web development process as this is what your users will interact with the most.</p>

      <p>I strive to build well executed websites, that not only look great on all devices - but also perform great.  Living in Northern Ireland, we're not blessed with 4G connections in every town or even good broadband connections - because of this I aim to optimise my websites as best I can, so that they load as quick as possible when the user is not on a great Internet connection.</p> 

      <hr>

      <p>You may have seen some of the work that I have worked on solely, or contributed to in a team around the web:</p>

      <ul>
      {% for client in site.data.clients %}
        <li>{{ client.name }}</li>
      {% endfor %}
      </ul>

      {% include footer.html %}

</div>

<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>