<header>

	<div class="wrapper">

		<div class="header-left">

			<h1 class="header__logo">Conor McAfee</h1>

		</div>

		<div class="header-right">

		  <ul class="header-menu">
			<li class="header-menu__item" data-header="about"><a href="{{ site.baseurl }}/">About</a></li>
			<li class="header-menu__item" data-header="case-studies"><a href="{{ site.baseurl }}/journal">Work, Blog &amp; Experiments</a></li>
			<li class="header-menu__item" data-header="contact"><a href="{{ site.baseurl }}/">Contact</a></li>
		</ul>

		</div>

	</div>

</header>
