<header>

	<div class="wrapper">
		<div class="header__left">
			<a href="/"><img src="../assets/images/conor-mcafee-logo.svg" alt="Conor McAfee | Designer &amp; Front-End Developer" height="40" width="150" class="logo header__logo"></a>
		</div>

		<div class="header__right">
			<ul class="header__menu">
				<li class="header__menu-item"><a href="{{ site.baseurl }}/">About</a></li>
				<li class="header__menu-item"><a href="{{ site.baseurl }}/work/">Work</a></li>
			</ul>
		</div>
	</div>

</header>
