@charset "UTF-8";
@font-face {
  font-family: 'quicksandregular';
  src: url("../../assets/webfonts/quicksand/quicksand-regular-webfont.eot");
  src: url("../../assets/webfonts/quicksand/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.woff2") format("woff2"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.woff") format("woff"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.ttf") format("truetype"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_serif_proregular';
  src: url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.eot");
  src: url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.woff2") format("woff2"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.woff") format("woff"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.ttf") format("truetype"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.svg#source_serif_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 1rem;
  line-height: 1.15rem;
}

body {
  font-family: 'source_serif_proregular', 'Arial', serif;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.15rem;
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}

.btn {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1rem;
  line-height: 1.15rem;
  display: block;
  padding: 0.75rem 1.15rem;
  border-radius: 20px;
  margin: 1.15rem 0;
  text-transform: capitalize;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

::-moz-selection {
  color: #72aef5;
  background: transparent;
}

::selection {
  color: #72aef5;
  background: transparent;
}

footer {
  clear: both;
  text-align: center;
  padding: 1.15rem 0;
}

.footer__avatar {
  display: block;
  width: 110px;
  height: 110px;
  margin: 1.15rem auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/conor-mcafee-small.jpg");
  border: 2px solid #EF4640;
  border-radius: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footer__avatar {
    background-image: url("../../assets/images/conor-mcafee-small@2x.jpg");
  }
}

.footer__text {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.878rem;
  margin-bottom: 1rem;
  color: #525252;
}

.footer__link {
  border-bottom: 1px dashed #EF4640;
}

.clearfix {
  clear: both;
}

.welcome {
  font-family: 'quicksandregular', 'Arial', serif;
  display: block;
  position: relative;
  overflow: auto;
}
@media only screen and (min-width: 992px) {
  .welcome {
    background: #EF4640;
    background: linear-gradient(180deg, #EF4640, #e91b13);
    padding: 5.75rem 0 6.9rem 0;
    overflow: hidden;
  }
  .welcome:after {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    background-image: url("/assets/images/waves.svg");
    background-repeat: repeat-x;
    position: absolute;
    bottom: -5px;
  }
}

.welcome--wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .welcome--wrapper {
    padding: 0 1.15rem;
  }
}

.welcome-card {
  display: block;
  background-color: #ffffff;
}

@media only screen and (min-width: 667px) {
  .welcome-card {
    width: 50%;
    float: left;
  }

  .welcome-card--middle {
    width: 100%;
  }
}
.welcome--two,
.welcome--three {
  display: none;
}

@media only screen and (min-width: 992px) {
  .welcome-card,
  .welcome-card--middle {
    width: 30%;
    position: relative;
    text-align: center;
  }

  .welcome-card {
    box-shadow: 10px 10px 20px #b91510;
    border-radius: 7px;
  }

  .welcome-card:not(:last-child) {
    margin-right: 5%;
  }

  .welcome--one {
    left: 35%;
  }

  .welcome--two,
  .welcome--three {
    display: block;
    margin-top: 3.45rem;
  }

  .welcome--two {
    left: -35%;
  }

  .welcome-card__title {
    font-size: 1.067rem;
    line-height: 2.3rem;
    padding: 0 1.15rem;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 0.75rem;
    color: #ffffff;
  }

  .welcome-card__list-item {
    font-size: 1rem;
    line-height: 1.15rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1.15rem;
    border-bottom: 1px solid #C1CAD6;
    text-align: left;
  }

  .welcome-card__link {
    margin: 1.15rem;
    color: #ffffff;
  }
}
.welcome-card__image {
  display: block;
  height: 75px;
  position: relative;
  background: #EF4640;
  background: linear-gradient(180deg, #EF4640, #e91b13);
}
.welcome-card__image:after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background-image: url("/assets/images/waves.svg");
  background-repeat: repeat-x;
  position: absolute;
  bottom: -5px;
}
@media only screen and (min-width: 992px) {
  .welcome-card__image {
    height: 250px;
    background-image: url("/assets/images/homepage/conor-mcafee.jpg");
    background-size: cover;
    background-position: center center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
}

.welcome-card__logo {
  display: block;
  margin-left: 1.15rem;
}
@media only screen and (min-width: 768px) {
  .welcome-card__logo {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.welcome-card__logo-text {
  font-size: 1rem;
  line-height: 1.15rem;
  margin-bottom: 1.15rem;
  color: #525252;
  margin-left: 1.15rem;
}
@media only screen and (min-width: 768px) {
  .welcome-card__logo-text {
    text-align: center;
    margin-left: 0;
  }
}

.welcome-card__social-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.15rem;
}
.welcome-card__social-list .welcome-card__social-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .welcome-card__social-list {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome-card__social-list .welcome-card__social-item:not(:last-child) {
    margin-right: 1.15rem;
  }
}
@media only screen and (min-width: 992px) {
  .welcome-card__social-list {
    border-top: 1px solid #C1CAD6;
    margin: 0;
  }
  .welcome-card__social-list .welcome-card__social-item {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1rem;
  }
  .welcome-card__social-list .welcome-card__social-item:not(:last-child) {
    border-right: 1px solid #C1CAD6;
    margin: 0;
  }
}

[data-welcome="case-study"] .welcome-card__title {
  background-color: #4392F1;
  border-bottom: 1px solid #1476ed;
}

[data-welcome="case-study"] .welcome-card__link {
  background-color: #4392F1;
}
[data-welcome="case-study"] .welcome-card__link:hover {
  background-color: #1476ed;
}

[data-welcome="journal"] .welcome-card__title {
  background-color: #00A676;
  border-bottom: 1px solid #007352;
}

[data-welcome="journal"] .welcome-card__link {
  background-color: #00A676;
}
[data-welcome="journal"] .welcome-card__link:hover {
  background-color: #007352;
}

.nav--homepage {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.772rem;
  margin: 1.15rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: 1px solid #C1CAD6;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .nav--homepage {
    width: 60%;
    margin: 1.15rem auto;
  }
}
@media only screen and (min-width: 992px) {
  .nav--homepage {
    display: none;
  }
}

.nav--homepage .nav__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.nav--homepage .nav__link:not(:last-child) {
  border-right: 1px solid #C1CAD6;
}
.nav--homepage .nav__link:hover {
  background-color: #4392F1;
  color: #ffffff;
}
.nav--homepage .nav__link:hover:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.nav--homepage .nav__link:hover:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.about {
  padding: 0.5rem 0 2.3rem 0;
  overflow: visible;
}
@media only screen and (min-width: 992px) {
  .about {
    padding: 2.3rem 0 3.45rem 0;
  }
}

.about__column:not(:last-child) {
  margin-bottom: 2.3rem;
}

.about__column--one,
.about__column--two {
  display: block;
}
@media only screen and (min-width: 768px) {
  .about__column--one,
  .about__column--two {
    width: 47.5%;
    float: left;
  }
}

.about__column--one {
  margin-right: 5%;
}

.about__column--three {
  display: block;
  clear: both;
}

.about__heading {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.296rem;
  color: #EF4640;
}
.about__heading:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #4392F1;
  margin: 1.15rem 0;
}
@media only screen and (min-width: 768px) {
  .about__heading {
    font-size: 1.476rem;
  }
}

.about__heading span {
  font-size: 0.772rem;
  color: #4392F1;
}
@media only screen and (min-width: 768px) {
  .about__heading span {
    font-size: 0.878rem;
  }
}

.about__text {
  font-size: 1.067rem;
  line-height: 2.3rem;
  margin-bottom: 0.75rem;
  color: #525252;
}

.about__list {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 1rem;
  line-height: 1.15rem;
  color: #525252;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.about__list-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0.5rem 0;
}
.about__list-item:before {
  content: "·";
  display: inline-block;
  color: #4392F1;
  margin-right: 1.15rem;
}
@media only screen and (min-width: 667px) {
  .about__list-item {
    -webkit-flex: 1 1 45%;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
  .about__list-item:nth-child(odd) {
    margin-right: 2.5%;
  }
  .about__list-item:nth-child(even) {
    margin-left: 2.5%;
  }
}

.about__employment {
  font-family: 'quicksandregular', 'Arial', serif;
  border-radius: 7px;
}

.about__employment-nav {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.772rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: 1px solid #C1CAD6;
  border-radius: 7px;
}

.about__employment--js-active {
  display: block;
}

.about__employment--js-inactive {
  display: none;
}

.about__employment-list {
  margin-top: 2.3rem;
}

.about__employment-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.about__employment-link:hover {
  background-color: #0e5fc0;
  color: #ffffff;
}
.about__employment-link:not(:last-child) {
  border-right: 1px solid #C1CAD6;
}
.about__employment-link:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.about__employment-link:nth-child(4) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.about__employment-link--active {
  background-color: #4392F1;
  color: #ffffff;
  position: relative;
}
.about__employment-link--active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7px);
  right: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #4392F1;
}
.about__employment-link--active:hover:after {
  border-top: 7px solid #0e5fc0;
}

.about__employment--title {
  font-size: 1.215rem;
  color: #EF4640;
  margin-bottom: 0.5rem;
}

.about__employment--role {
  font-size: 0.878rem;
  color: #4392F1;
  margin-bottom: 0.5rem;
}

.about__employment--desc {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 1.067rem;
  line-height: 2.3rem;
  color: #525252;
}

.about__column--full {
  clear: both;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #EF4640;
  border-radius: 7px;
  padding: 1.15rem;
}
@media only screen and (min-width: 768px) {
  .about__column--full {
    display: block;
    width: 50%;
  }
}

.about__column--full .about__heading:after {
  margin: 1.15rem auto;
}

.about__column--full .btn {
  background-color: #EF4640;
  color: #ffffff;
  margin-bottom: 0;
}
.about__column--full .btn:hover {
  background-color: #b91510;
}

.about--hidden {
  display: none;
}
@media only screen and (min-width: 768px) {
  .about--hidden {
    display: block;
  }
}

.about--visible {
  display: block;
}

.btn--continue {
  background-color: #4392F1;
  color: #ffffff;
}
.btn--continue:hover {
  background-color: #0e5fc0;
}
@media only screen and (min-width: 768px) {
  .btn--continue {
    display: none;
  }
}

.posts {
  background: #4392F1;
  background: linear-gradient(180deg, #4392F1, #00A676);
  display: block;
  clear: both;
  position: relative;
  border-top: 2px solid #0e5fc0;
  border-bottom: 2px solid #007352;
}
@media only screen and (min-width: 667px) {
  .posts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.post-card {
  font-family: 'quicksandregular', 'Arial', serif;
  color: #ffffff;
  border-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (min-width: 667px) {
  .post-card {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media only screen and (min-width: 992px) {
  .post-card {
    -webkit-flex: 1 1 25%;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

.post-card--intro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 2 2 50%;
      -ms-flex: 2 2 50%;
          flex: 2 2 50%;
  padding: 4.6rem 1.15rem;
}
@media only screen and (min-width: 667px) {
  .post-card--intro {
    padding: 1.15rem;
  }
}

.post-card__header {
  font-size: 2.041rem;
  display: block;
}

.post-card__title {
  font-size: 1.067rem;
  line-height: 2.3rem;
  padding: 1.15rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-card__excerpt,
.post-card__date {
  text-align: left;
  padding: 0 1.15rem 1.15rem 1.15rem;
}

.post-card__excerpt {
  font-size: 1rem;
  line-height: 1.15rem;
}

.post-card__date {
  font-size: 0.772rem;
}

.post-card__read {
  border: 2px solid #ffffff;
  color: #ffffff;
  margin: 0 1.15rem 1.15rem 1.15rem;
  display: inline-block;
}
.post-card__read:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.post {
  position: relative;
  padding: 4.6rem 0 6.9rem 0;
}
.post:after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background-image: url("/assets/images/waves.svg");
  background-repeat: repeat-x;
  position: absolute;
  bottom: -5px;
}

.post__header,
.post__date {
  font-family: 'quicksandregular', 'Arial', serif;
  color: #ffffff;
  text-align: center;
}

.post__header {
  font-size: 2.041rem;
}

.post__date {
  font-size: 1.138rem;
  line-height: 2.3rem;
  margin-top: 1.15rem;
}

article {
  display: block;
  width: 70%;
  float: left;
}

article p,
article li {
  font-size: 1.067rem;
  line-height: 2.3rem;
  margin-bottom: 0.75rem;
  color: #525252;
}

article h2 {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.68rem;
  margin-bottom: 0.75rem;
  color: #00A676;
}

.post--case-study {
  border-top: 2px solid #1476ed;
  background: #4392F1;
  background: linear-gradient(180deg, #4392F1, #1476ed);
}

.post--journal {
  border-top: 2px solid #007352;
  background: #00A676;
  background: linear-gradient(180deg, #00A676, #007352);
}

pre,
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5em;
  background-color: #2D3047;
}

code {
  padding: 1px 5px;
  color: #ffffff;
}

pre {
  padding: 0.9375em 1.875em;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.highlight {
  background-color: #2D3047;
  border-top: 2px solid #191b28;
  border-bottom: 2px solid #191b28;
  margin-bottom: 1.875em;
  color: #ffffff;
  overflow-x: scroll;
}
.highlight::-webkit-scrollbar {
  background: transparent;
}
.highlight::-webkit-scrollbar-thumb {
  background: #2D3047 !important;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #d14;
}
.highlight .k {
  color: #ffffff;
}
.highlight .o {
  color: #ffffff;
}
.highlight .p {
  color: #ffffff;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  color: #ffffff;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  color: #ffffff;
}
.highlight .kd {
  color: #ffffff;
}
.highlight .kp {
  color: #ffffff;
}
.highlight .kr {
  color: #ffffff;
}
.highlight .kt {
  color: #ffffff;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #1B998B;
}
.highlight .nb {
  color: #FFFD82;
}
.highlight .nc {
  color: #ffffff;
}
.highlight .nd {
  color: #ffffff;
}
.highlight .no {
  color: #1B998B;
}
.highlight .ni {
  color: #FFFD82;
}
.highlight .ne {
  color: #f7a19e;
}
.highlight .nf {
  color: #f7a19e;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #3891A6;
}
.highlight .nv {
  color: #1B998B;
}
.highlight .ow {
  color: #ffffff;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #1B998B;
}
.highlight .vg {
  color: #1B998B;
}
.highlight .vi {
  color: #1B998B;
}
.highlight .il {
  color: #099;
}
