@charset "UTF-8";
@font-face {
  font-family: 'quicksandregular';
  src: url("../../assets/webfonts/quicksand/quicksand-regular-webfont.eot");
  src: url("../../assets/webfonts/quicksand/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.woff2") format("woff2"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.woff") format("woff"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.ttf") format("truetype"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_serif_proregular';
  src: url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.eot");
  src: url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.woff2") format("woff2"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.woff") format("woff"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.ttf") format("truetype"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.svg#source_serif_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 0.878rem;
  line-height: 1.15rem;
}
@media only screen and (min-width: 668px) {
  html {
    font-size: 1rem;
    line-height: 1.15rem;
  }
}

body {
  font-family: 'source_serif_proregular', 'Arial', serif;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.15rem;
}
@media only screen and (min-width: 1270px) {
  .wrapper {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}

.btn {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1rem;
  line-height: 1.15rem;
  display: block;
  padding: 0.75rem 1.15rem;
  border-radius: 20px;
  margin: 1.15rem 0;
  text-transform: capitalize;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

::-moz-selection {
  color: #72aef5;
  background: transparent;
}

::selection {
  color: #72aef5;
  background: transparent;
}

footer {
  clear: both;
  text-align: center;
  padding: 2.3rem 0;
}

.wrapper--case-study + footer,
.wrapper--journal + footer {
  border-top: 1px solid #e0e4ea;
  margin-top: 2.3rem;
}

.footer__text {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.772rem;
  line-height: 1.15rem;
  margin-bottom: 1rem;
  color: #525252;
}

.footer__link {
  color: #EF4640;
}
.footer__link:hover {
  color: #4392F1;
}

.clearfix {
  clear: both;
}

header {
  background-color: #ffffff;
  overflow: hidden;
}

.header__left,
.header__right {
  width: 100%;
  display: block;
  float: left;
}

.header__logo {
  margin-top: 0.5rem;
}

.header__menu {
  font-family: 'quicksandregular', 'Arial', serif;
  padding: 1.15rem 0;
  text-align: left;
}

.header__menu-item {
  display: inline;
  color: #525252;
}
.header__menu-item:hover {
  color: #EF4640;
}

.header__menu-item:not(:first-child) {
  padding-left: 1.15rem;
}

@media only screen and (min-width: 668px) {
  .header__left {
    width: 25%;
  }

  .header__right {
    width: 75%;
  }

  .header__menu {
    text-align: right;
  }
}
.welcome {
  font-family: 'quicksandregular', 'Arial', serif;
  display: block;
  position: relative;
  overflow: auto;
}
@media only screen and (min-width: 992px) {
  .welcome {
    background: #EF4640;
    background: linear-gradient(180deg, #EF4640, #e91b13);
    padding: 5.75rem 0 6.9rem 0;
    overflow: hidden;
  }
  .welcome:after {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    background-image: url("/assets/images/waves.svg");
    background-repeat: repeat;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
  }
}

.welcome--wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .welcome--wrapper {
    padding: 0 1.15rem;
  }
}

.welcome-card {
  display: block;
  background-color: #ffffff;
}

@media only screen and (min-width: 667px) {
  .welcome-card {
    width: 50%;
    float: left;
  }

  .welcome-card--middle {
    width: 100%;
  }
}
.welcome--two,
.welcome--three {
  display: none;
}

@media only screen and (min-width: 992px) {
  .welcome-card,
  .welcome-card--middle {
    width: 30%;
    position: relative;
    text-align: center;
  }

  .welcome-card {
    box-shadow: 10px 10px 20px #b91510;
    border-radius: 7px;
  }

  .welcome-card:not(:last-child) {
    margin-right: 5%;
  }

  .welcome--one {
    left: 35%;
  }

  .welcome--two,
  .welcome--three {
    display: block;
    margin-top: 3.45rem;
  }

  .welcome--two {
    left: -35%;
  }

  .welcome-card__title {
    font-size: 1.067rem;
    line-height: 2rem;
    padding: 0 1.15rem;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 0.75rem;
    color: #ffffff;
  }

  .welcome-card__list-item {
    font-size: 1rem;
    line-height: 1.15rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1.15rem;
    border-bottom: 1px solid #C1CAD6;
    text-align: left;
  }

  .welcome-card__link {
    margin: 1.15rem;
    color: #ffffff;
  }
}
.welcome-card__image {
  display: block;
  height: 75px;
  position: relative;
  background: #EF4640;
  background: linear-gradient(180deg, #EF4640, #e91b13);
}
.welcome-card__image:after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background-image: url("/assets/images/waves.svg");
  background-repeat: repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 992px) {
  .welcome-card__image {
    height: 250px;
    background-image: url("/assets/images/homepage/conor-mcafee.jpg");
    background-size: cover;
    background-position: center center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
}

.welcome-card__logo {
  display: block;
  margin-left: 1.15rem;
}
@media only screen and (min-width: 768px) {
  .welcome-card__logo {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.welcome-card__logo-text {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1rem;
  line-height: 1.15rem;
  margin-bottom: 1.15rem;
  color: #525252;
  margin-left: 1.15rem;
}
@media only screen and (min-width: 768px) {
  .welcome-card__logo-text {
    text-align: center;
    margin-left: 0;
  }
}

.welcome-card__social-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.15rem;
}
.welcome-card__social-list .welcome-card__social-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .welcome-card__social-list {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome-card__social-list .welcome-card__social-item:not(:last-child) {
    margin-right: 1.15rem;
  }
}
@media only screen and (min-width: 992px) {
  .welcome-card__social-list {
    border-top: 1px solid #C1CAD6;
    margin: 0;
  }
  .welcome-card__social-list .welcome-card__social-item {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1rem;
  }
  .welcome-card__social-list .welcome-card__social-item:not(:last-child) {
    border-right: 1px solid #C1CAD6;
    margin: 0;
  }
}

.sprite {
  display: block;
  background-image: url("/assets/images/social-sprite.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
.sprite:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.twitter {
  background-position: 0 0;
}

.instagram {
  background-position: -30px 0;
}

.dribbble {
  background-position: -60px 0;
}

.github {
  background-position: -90px 0;
}

[data-welcome="case-study"] .welcome-card__title {
  background-color: #4392F1;
  border-bottom: 1px solid #1476ed;
}

[data-welcome="case-study"] .welcome-card__link {
  background-color: #4392F1;
}
[data-welcome="case-study"] .welcome-card__link:hover {
  background-color: #1476ed;
}

[data-welcome="case-study"] .welcome-card__post-link:hover {
  color: #4392F1;
}

[data-welcome="journal"] .welcome-card__title {
  background-color: #00A676;
  border-bottom: 1px solid #007352;
}

[data-welcome="journal"] .welcome-card__link {
  background-color: #00A676;
}
[data-welcome="journal"] .welcome-card__link:hover {
  background-color: #007352;
}

[data-welcome="journal"] .welcome-card__post-link:hover {
  color: #00A676;
}

.nav--homepage {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.772rem;
  line-height: 1.15rem;
  margin: 1.15rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: 1px solid #C1CAD6;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .nav--homepage {
    width: 60%;
    margin: 1.15rem auto;
  }
}
@media only screen and (min-width: 992px) {
  .nav--homepage {
    display: none;
  }
}

.nav--homepage .nav__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
}
.nav--homepage .nav__link:not(:last-child) {
  border-right: 1px solid #C1CAD6;
}
.nav--homepage .nav__link:hover {
  background-color: #4392F1;
  color: #ffffff;
}
.nav--homepage .nav__link:hover:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.nav--homepage .nav__link:hover:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.about {
  padding: 0.5rem 0 2.3rem 0;
  overflow: visible;
}
@media only screen and (min-width: 992px) {
  .about {
    padding: 2.3rem 0 3.45rem 0;
  }
}

.about__column:not(:last-child) {
  margin-bottom: 2.3rem;
}

.about__column--one,
.about__column--two {
  display: block;
}
@media only screen and (min-width: 992px) {
  .about__column--one,
  .about__column--two {
    width: 47.5%;
    float: left;
  }
}

.about__column--one {
  margin-right: 5%;
}

.about__column--three {
  display: block;
  clear: both;
}

.about__heading {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.476rem;
  line-height: 2rem;
  color: #EF4640;
}
.about__heading:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #4392F1;
  margin: 1.15rem 0;
}

.about__text {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 1.067rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: #525252;
  max-width: 700px;
}

.about__link {
  color: #EF4640;
}

.about__link:hover {
  color: #4392F1;
}

.about__list {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 1rem;
  line-height: 1.15rem;
  color: #525252;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.about__list-item:before {
  content: "·";
  display: inline-block;
  color: #4392F1;
  margin-right: 1.15rem;
}

.about__list-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0.5rem 0;
}
@media only screen and (min-width: 667px) {
  .about__list-item {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media only screen and (min-width: 768px) {
  .about__list-item {
    -webkit-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}
@media only screen and (min-width: 992px) {
  .about__list-item {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.about__employment {
  font-family: 'quicksandregular', 'Arial', serif;
  border-radius: 7px;
}

.about__employment-nav {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.678rem;
  line-height: 1.15rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: 1px solid #C1CAD6;
  border-radius: 7px;
}
@media only screen and (min-width: 1100px) {
  .about__employment-nav {
    font-size: 0.772rem;
    line-height: 1.15rem;
  }
}

.about__employment--js-active {
  display: block;
}

.about__employment--js-inactive {
  display: none;
}

.about__employment-list {
  margin: 2.3rem 0;
}

.about__employment-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 25%;
}
.about__employment-link:hover {
  background-color: #0e5fc0;
  color: #ffffff;
}
.about__employment-link:not(:last-child) {
  border-right: 1px solid #C1CAD6;
}
.about__employment-link:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.about__employment-link:nth-child(4) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.about__employment-link--active {
  background-color: #4392F1;
  color: #ffffff;
  position: relative;
}
.about__employment-link--active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7px);
  right: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #4392F1;
}
.about__employment-link--active:hover:after {
  border-top: 7px solid #0e5fc0;
}

.about__employment--title {
  font-size: 1.215rem;
  line-height: 2rem;
  color: #EF4640;
  margin-bottom: 0.5rem;
}

.about__employment--role {
  font-size: 0.878rem;
  line-height: 1.15rem;
  color: #4392F1;
  margin-bottom: 0.5rem;
}

.about__employment--desc {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 1.067rem;
  line-height: 2rem;
  color: #525252;
}

.about--hidden {
  display: none;
}
@media only screen and (min-width: 768px) {
  .about--hidden {
    display: block;
  }
}

.about--visible {
  display: block;
}

.btn--continue {
  background-color: #4392F1;
  color: #ffffff;
}
.btn--continue:hover {
  background-color: #0e5fc0;
}
@media only screen and (min-width: 768px) {
  .btn--continue {
    display: none;
  }
}

.case-studies {
  background: #72aef5;
  background: linear-gradient(180deg, #72aef5, #4392F1);
  border-top: 2px solid #0e5fc0;
  border-bottom: 2px solid #0e5fc0;
  display: block;
  overflow: hidden;
  clear: both;
  position: relative;
  padding: 2.3rem 0;
}

.case-studies__header {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.476rem;
  line-height: 2rem;
  margin-bottom: 1.15rem;
  color: #ffffff;
  display: block;
  text-align: left;
}
.case-studies__header:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #0e5fc0;
  margin: 1.15rem 0;
}

.case-studies__intro {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 1.067rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: #ffffff;
  max-width: 600px;
}

.case-studies__list {
  margin-top: 3.45rem;
}

.case-study {
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  box-shadow: 10px 10px 20px #0e5fc0;
  display: block;
  float: left;
  margin-bottom: 5%;
}
@media only screen and (min-width: 667px) and (max-width: 850px) {
  .case-study {
    width: 47.5%;
    margin-right: 5%;
  }
  .case-study:nth-child(2n) {
    margin-right: 0;
  }
  .case-study:nth-child(2n+1) {
    clear: left;
  }
}
@media only screen and (min-width: 851px) {
  .case-study {
    width: 30%;
    margin-right: 5%;
  }
  .case-study:nth-child(3n) {
    margin-right: 0;
  }
  .case-study:nth-child(3n+1) {
    clear: left;
  }
}

.case-study__chrome {
  background: #f6f6f6;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  text-align: right;
}

.case-study__buttons {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #fc605c;
  position: absolute;
  top: 15px;
  left: 10px;
}
.case-study__buttons:before, .case-study__buttons:after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  left: 15px;
}
.case-study__buttons:before {
  background-color: #fdbc40;
  left: 15px;
}
.case-study__buttons:after {
  background-color: #34c84a;
  left: 30px;
}

.case-study__link {
  display: inline-block;
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.772rem;
  line-height: 1.15rem;
  color: #657b99;
  border: 1px solid #C1CAD6;
  padding: 0.25rem;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 5px;
}
.case-study__link:hover {
  background-color: #C1CAD6;
  color: #ffffff;
}

.case-study__content {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.case-study__logo {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0 1.15rem;
  margin: 0 auto;
}

.case-study__excerpt {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.878rem;
  line-height: 1.15rem;
  color: #657b99;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 1.15rem;
}

.journals {
  background: #00d99a;
  background: linear-gradient(180deg, #00d99a, #00A676);
  border-top: 2px solid #007352;
  border-bottom: 2px solid #007352;
  display: block;
  overflow: hidden;
  clear: both;
  position: relative;
}

.journal {
  display: block;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1.15rem;
}
.journal:last-child {
  border-bottom: none;
}
@media only screen and (min-width: 667px) {
  .journal {
    width: 50%;
    padding-top: 2.3rem;
    border-bottom: none;
  }
  .journal:nth-child(2n) {
    margin-right: 0;
  }
  .journal:nth-child(2n+1) {
    clear: left;
  }
  .journal:nth-child(n+3) {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .journal:first-child {
    border-top: none;
  }
  .journal:nth-child(odd) {
    padding-right: 2.3rem;
  }
  .journal:nth-child(even) {
    padding-left: 2.3rem;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.journal__title {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.476rem;
  line-height: 2rem;
  color: #ffffff;
}
.journal__title:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #007352;
  margin: 1.15rem 0;
}

.journal.journal--homepage .journal__title {
  font-size: 2.041rem;
  line-height: 2rem;
  text-align: left;
  position: relative;
  padding: 2.3rem 0;
}
@media only screen and (min-width: 667px) {
  .journal.journal--homepage .journal__title {
    margin-top: 125px;
    text-align: center;
    padding: 0;
  }
  .journal.journal--homepage .journal__title:after {
    margin: 1.15rem auto;
  }
}

.journal__date {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 0.878rem;
  line-height: 1.15rem;
  margin-bottom: 0.75rem;
  color: #007352;
}

.journal__excerpt {
  font-size: 1.067rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: #ffffff;
}

.journal__btn {
  display: inline-block;
  background-color: #007352;
  border: 1px solid #007352;
  color: #ffffff;
  margin-bottom: 2.3rem;
}
.journal__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (min-width: 667px) {
  .case-studies--archive .case-study {
    width: 47.5%;
    margin-right: 5%;
  }
  .case-studies--archive .case-study:nth-child(2n) {
    margin-right: 0;
  }
  .case-studies--archive .case-study:nth-child(2n+1) {
    clear: left;
  }
}
.post {
  position: relative;
  padding: 3.45rem 0 4.6rem 0;
}
.post:after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background-image: url("/assets/images/waves.svg");
  background-repeat: repeat-x;
  position: absolute;
  bottom: -5px;
}

.post__header,
.post__date {
  font-family: 'quicksandregular', 'Arial', serif;
  color: #ffffff;
  text-align: center;
}

.post__header {
  font-size: 2.041rem;
  line-height: 2rem;
}

.post__date {
  font-size: 1.138rem;
  line-height: 2rem;
  margin-top: 1.15rem;
}

article {
  display: block;
  margin-top: 1.15rem;
}
@media only screen and (min-width: 768px) {
  article {
    max-width: 700px;
    margin: 2.3rem auto;
  }
}

article p,
article li {
  font-size: 1.067rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: #525252;
}

article ul {
  list-style: disc;
  list-style-position: inside;
  margin-left: 1.15rem;
}

article h2 {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.68rem;
  line-height: 2rem;
  line-height: 4.6rem;
  margin-bottom: 0.75rem;
}

article img {
  display: block;
  width: 100%;
  height: auto;
}

.post.post--case-study {
  border-top: 2px solid #1476ed;
  background: #4392F1;
  background: linear-gradient(180deg, #4392F1, #1476ed);
}

article.post--case-study h2 {
  color: #4392F1;
}

[data-archive="case-study"] .post-archive__link {
  color: #4392F1;
}

[data-archive="case-study"].post-archive__list .btn {
  background-color: #4392F1;
}
[data-archive="case-study"].post-archive__list .btn:hover {
  background-color: #1476ed;
}

.post.post--journal {
  border-top: 2px solid #007352;
  background: #00A676;
  background: linear-gradient(180deg, #00A676, #007352);
}

article.post--journal h2 {
  color: #00A676;
}

[data-archive="journal"] .post-archive__link {
  color: #00A676;
}

[data-archive="journal"].post-archive__list .btn {
  background-color: #00A676;
}
[data-archive="journal"].post-archive__list .btn:hover {
  background-color: #007352;
}

.contact {
  clear: both;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #e0e4ea;
  background-color: #f6f6f6;
  border-radius: 7px;
  padding: 1.15rem;
}

.contact__title {
  font-family: 'quicksandregular', 'Arial', serif;
  font-size: 1.476rem;
  line-height: 2rem;
  color: #EF4640;
  margin-bottom: 1rem;
}

.contact__text {
  font-size: 1.067rem;
  line-height: 2rem;
  color: #525252;
}

.contact .btn {
  background-color: #EF4640;
  color: #ffffff;
  margin-bottom: 0;
}
.contact .btn:hover {
  background-color: #b91510;
}
