@font-face {
  font-family: 'quicksandregular';
  src: url("../../assets/webfonts/quicksand/quicksand-regular-webfont.eot");
  src: url("../../assets/webfonts/quicksand/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.woff2") format("woff2"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.woff") format("woff"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.ttf") format("truetype"), url("../../assets/webfonts/quicksand/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_serif_proregular';
  src: url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.eot");
  src: url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.woff2") format("woff2"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.woff") format("woff"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.ttf") format("truetype"), url("../../assets/webfonts/source-serif-pro/sourceserifpro-regular-webfont.svg#source_serif_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  background-color: #282828;
  font-family: 'quicksandregular', 'Arial', serif;
}

.nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  background: #282828;
  color: #444444;
  width: 100%;
}

.nav--header {
  top: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.nav--header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav--footer {
  bottom: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.nav--footer .nav__list {
  white-space: nowrap;
  overflow: scroll;
}

.nav--footer .nav__item {
  display: inline-block;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.nav--footer .nav__item.nav__title {
  width: 200px;
}

.nav--footer .nav__link {
  color: #444444;
  text-decoration: none;
}
.nav--footer .nav__link:hover {
  color: #ffffff;
}

.shots {
  height: calc(100vh - 104px);
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  margin-top: 62px;
}

.shot {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.shot__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #444444;
}

.shot__grid {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding: 1.25em;
}

.shot__image {
  max-width: 100%;
  height: auto;
}

.shot__title {
  font-size: 12px;
  font-size: 1.2rem;
}

.shot__desc {
  font-family: 'source_serif_proregular', 'Arial', serif;
  font-size: 10px;
  font-size: 1rem;
  line-height: 25px;
  margin: 1.25em 0;
  max-width: 500px;
}

.shot__likes:before {
  content: url("/52-week-ui-challenge/heart.svg");
  display: inline-block;
  margin-right: 0.625em;
  margin-top: 0.3125em;
}

.shot__link {
  font-size: 10px;
  font-size: 1rem;
  display: inline-block;
  color: #444444;
  text-decoration: none;
  margin: 1.25em 0;
}
.shot__link:hover {
  color: #ea4c89;
}

.shot__link:after {
  content: url("/52-week-ui-challenge/external.svg");
  display: inline-block;
  margin-left: 0.625em;
}

@media only screen and (min-width: 600px) {
  .shot__content {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .shot__grid {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }

  .shot__grid--right {
    padding-left: 0;
  }
}
