// Archive 

.archive-middle {
	display: block;	
}

.archive-heading {
	@include sub-heading;
	@include font-size(2.0);
	text-align: center;
	color: brand-colour(white);
	margin-bottom: em(15);
	line-height: 2.6rem;
	text-shadow: 0px 3px 1px brand-colour(orange, darker);
}

.archive-list {
	border-top: 1px solid brand-colour(grey, dark);
	padding-top: em(40);

	&__item:not(:last-child) {
		margin-bottom: em(40);
	}
}

.archive-list__title,
.archive-list__date {
	display: block;
	text-align: center;
}

.archive-list__item.is-visible {
	-webkit-animation: fade-in 1s;
   	-moz-animation: fade-in 1s; 
   	-o-animation: fade-in 1s;
    animation: fade-in 1s;
}

.archive-list__item.is-hidden {
	-webkit-animation: fade-out 1s;
   	-moz-animation: fade-out 1s; 
   	-o-animation: fade-out 1s;
    animation: fade-out 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.archive-list__item {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	background-color: brand-colour(white);
	border: 1px solid brand-colour(orange, dark);
	border-radius: 7px;
}

@media only screen and (min-width: 500px) and (max-width: 666px) {
	.archive-list__item {
		width: 47.5%;
		margin-right: 5%;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}
}

@media only screen and (min-width: 667px) and (max-width: 991px) {
	.archive-list__item {
		width: 30%;
		margin-right: 5%;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

@media only screen and (min-width: 992px) {
	.archive-list__item {
		width: 21.25%;
		margin-right: 5%;

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(4n+1) {
			clear: left;
		}
	}
}

.archive-list__header-image {
	display: block;
	position: relative;
	width: 100%;
	background-color: brand-colour(white);

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		height: 31px;
		width: 100%;	
	}
}

.archive-list__image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
	//padding-top: em(50);
	padding-bottom: em(20);
}

.archive-list__title {
	@include sub-heading;
	@include font-size(1.0);
	color: brand-colour(white);
	line-height: em(24);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.archive-list__title,
.archive-list__date {
	display: block;
	padding: 0 em(10) em(10) em(10);

	@media only screen and (min-width: 667px) {
		float: none;
		width: auto;
	}
}

.archive-list__date {
	@include font-size(0.8);
	margin-bottom: em(20);
}

// Colour Maps

@each $selector, $value in $post-colours {
	.archive-list__item[data-post="#{$selector}"] .archive-list__header-image:after {
  		background-image: url('../assets/images/archive/waves-#{post-colour($selector, svg)}.svg');
  	}

	.archive-list__item[data-post="#{$selector}"] {
		background-color: post-colour($selector, light);
	}

	.archive-list__item[data-post="#{$selector}"] .archive-list__title:hover,
	.archive-list__item[data-post="#{$selector}"] .archive-list__date {
		color: post-colour($selector, hover);
	}

	.archive-list__item[data-post="#{$selector}"] .archive-list__button {
		background-color: post-colour($selector);
	}
}