.contact {
	@include sub-heading;
	clear: both;
	margin: em(30) 0;
	background-color: brand-colour(blue);
	border-top: 1px solid brand-colour(orange, darker);
	border-bottom: 1px solid brand-colour(orange, darker);
	text-align: center;
}

.contact-content {
	padding: em(30);
	width: 50%;
	margin: 0 auto;
}

.contact-text {
	color: brand-colour(white);
	@include font-size(1.2);
	line-height: em(24);
}

.contact-text:not(:last-child) {
	margin-bottom: em(30);
}

.contact-link {
	padding: em(10) em(20);
	background-color: brand-colour(white);
	color: brand-colour(orange);
	border-radius: 7px;
	//box-shadow: 2px 2px 0 brand-colour(orange, darker);
}