.filter-list__text {
	@include base;
	color: brand-colour(grey, darker);
	text-align: center;
	margin-bottom: em(10);
}

.filter-list {
	text-align: center;
	margin-bottom: em(40);
}

.filter-list__item {
	@include sub-heading;
	width: 32%;
	display: inline-block;
	background-color: brand-colour(white);
	border: 1px solid brand-colour(grey, dark);
	padding: em(10);
	cursor: pointer;
	border-radius: 7px;
	position: relative;
	box-shadow: 0px 2px 1px brand-colour(orange, darker);

	@media only screen and (min-width: 667px) {
		width: auto;
		margin-bottom: 0;
		padding: em(20) em(50);
	}
}

@media only screen and (min-width: 667px) {
	.filter-list__item:not(:last-child) {
		margin-right: em(10);
	}
}

.filter-list__item.js-active:before,
.filter-list__item.js-inactive:before {
	content: "";
	display: block;
	margin: 0 auto em(10) auto;
	position: relative;
    top: 3px;
	height: 18px;
	width: 18px;
	background-size: contain;

	@media only screen and (min-width: 667px) {
		display: none;
	}
}

@media only screen and (min-width: 667px) {
	.filter-list__item.js-active:after,
	.filter-list__item.js-inactive:after {
		content: "";
		display: inline-block;
		position: relative;
		top: 3px;
		height: 18px;
		width: 18px;
		background-size: contain;
		margin-left: em(10);
	}
}

.filter-list__item.js-active:before,
.filter-list__item.js-active:after {
	background-image: url('../assets/images/check.svg');
}

/*.filter-list__item.js-active:hover:before,
.filter-list__item.js-active:hover:after {
	background-image: url('../assets/images/cancel.svg');
}*/

.filter-list__item.js-inactive:before,
.filter-list__item.js-inactive:after {
	background-image: url('../assets/images/cancel.svg');
}

/*.filter-list__item.js-inactive:hover:before,
.filter-list__item.js-inactive:hover:after {
	background-image: url('../assets/images/check.svg');
}*/