.hero {
	height: 140px;
	display: block;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	
	@media only screen and (min-width:992px) {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat; 
		position: fixed;
		width: 40%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.hero:before {
		content: "";
		display: block;
		height: 5px;
		width: 100%;
		background-color: brand-colour(orange);
	}

	.hero {
		background-image: url('../assets/images/conor-mcafee-mobile.png');
	}
}

@media only screen and (min-width: 992px) {
	.hero {
		background-image: url('../assets/images/conor-mcafee.jpg');
	}
}



// Homepage Content

.homepage {
	position: relative;
	overflow: hidden;
	
	@media only screen and (min-width: 992px) {
		left: 40%;
		width: 60%;
		padding-top: em(40);
	}
}

// Homepage Content

.homepage__content {
	display: block;
	background-color: brand-colour(white);
	border: 1px solid brand-colour(grey, dark);
	color: brand-colour(black);
	padding: em(30);
	margin: em(15);

	@media only screen and (min-width: 600px) {
		max-width: 600px;
		margin: em(15) auto;
	}

	@media only screen and (min-width: 992px) {
		max-width: 500px;
	}

	@media only screen and (min-width: 1200px) {
		max-width: 600px;
	}
}

.homepage__logo {
	@include heading;
	@include font-size(2.2);
	margin-bottom: em(2);
	text-shadow: 2px 2px 1px brand-colour(blue, lighter);
	line-height: em(26);
	color: brand-colour(orange);
	text-align: center;
}

.homepage__job-title {
	@include sub-heading;
	text-align: center;
	padding-bottom: em(20);
	@include font-size(1.0);
	line-height: em(24);

	span {
		color: brand-colour(orange);
	}
}

.header-menu--homepage {
	text-align: center;
	margin-bottom: em(20);
}

.homepage__text  {
	@include base;
	@include font-size(1.2);
	line-height: em(24);
	margin-bottom: em(20);
}

.homepage-highlight {
	display: inline-block;
	background-color: brand-colour(orange);
	padding: em(5) em(15);
	color: brand-colour(white);
}

.homepage__link {
	color: brand-colour(orange);
	border-bottom: 1px dashed brand-colour(orange);

	&:hover {
		color: brand-colour(blue);
		border-bottom: 1px dashed brand-colour(blue);
	}
}

.homepage__list {
	margin: em(20) 0;
}

.homepage__list-item {
	@include base;
	@include font-size(1.2);
	display: inline-block;
	line-height: em(24);
	padding-right: em(5);

	&:after {
		content: "/";
		display: inline-block;
		color: brand-colour(blue, light);
		margin-left: em(5);
	}

	&:last-child:after {
		display: none;
	}
}