.archive {
	margin-top: em(100);
}

.archive-middle {
	display: block;	
}

.archive-list__item:not(:last-child) {
	margin-bottom: em(30);
}

.archive-list__title,
.archive-list__date,
.archive-list__excert,
.archive-list__button {
	display: block;
	text-align: center;
}

.archive-list__item {
	display: block;
	float: left;
	width: 100%;

	@media only screen and (min-width: 675px) {
		width: 50%;
	}
}

@media only screen and (max-width: 767px) {
	.archive-list__item:after {
		content: "";
		display: block;
		height: 1px;
		width: 75%;
		margin: em(30) auto 0 auto;
		background-color: brand-colour(blue, lighter);
	}
}

.archive-list__image {
	display: block;
	margin: 0 auto;
	width: 75px;
	height: 75px;
	border-radius: 75px;
	background-position: center center;
	background-size: cover;
	margin-bottom: em(20);
}

.archive-list__title {
	@include sub-heading;
	@include font-size(1.1);
	line-height: em(24);
}

@media only screen and (min-width: 768px) {
	.archive-list__item {
		position: relative;
		width: 21.25%;
		margin-right: 5%;
		border: 1px solid brand-colour(grey);

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(4n+1) {
			clear: left;
		}	
	}

	.archive-list__item:after {
		content: "";
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		left: em(10);
		top: em(10);
	}

	.archive-list__item[data-post="journal"]:after {
		background-color: brand-colour(orange);
	}

	.archive-list__item[data-post="case-study"]:after {
		background-color: brand-colour(blue);
	}

	.archive-list__item[data-post="labs"]:after {
		background-color: yellow;
	}

	.archive-list__image {
		width: 100%;
		height: 200px;
		border-radius: 0;
	}

	.archive-list__title,
	.archive-list__date {
		padding: em(10) 0;
	}

	.archive-list__date {
		@include font-size(0.8);
	}

	.archive-list__button {
		@include sub-heading;
		@include font-size(1.0);
		background-color: brand-colour(grey);
		padding: em(10);
		margin-top: em(10);
	}
}
