// Colour Palette

$grey: #f6f6f6;
$orange: #EF4640;
$blue: #6494AA;
$green: #35605A;
$white: #ffffff;
$black: #2B303A;

// Validation
$on: #7FC6A4;
$off: #780116;
 
// Brand Colour Palette
$brand-colours: (
    grey: (
        base:   $grey,
        lighter: lighten($grey, 20%),
        light:  lighten($grey, 10%),
        dark:   darken($grey, 10%),
        darker: darken($grey, 30%)
    ),

    orange: (
        base:   $orange,
        lighter: lighten($orange, 20%),
        light:  lighten($orange, 10%),
        dark:   darken($orange, 10%),
        darker: darken($orange, 20%)
    ),

    blue: (
        base:   $blue,
        lighter: lighten($blue, 35%),
        light:  lighten($blue, 10%),
        dark:   darken($blue, 10%),
        darker: darken($blue, 20%)
    ),

    green: (
        base:   $green,
        lighter: lighten($green, 35%),
        light:  lighten($green, 10%),
        dark:   darken($green, 10%),
        darker: darken($green, 20%)
    ),

    on: (
        base:   $on,
        lighter: lighten($on, 35%),
        light:  lighten($on, 10%),
        dark:   darken($on, 10%),
        darker: darken($on, 20%)
    ),

    off: (
        base:   $off,
        lighter: lighten($off, 35%),
        light:  lighten($off, 10%),
        dark:   darken($off, 10%),
        darker: darken($off, 20%)
    ),
    
    white: (
	    base: $white
    ),
    
    black: (
	    base: $black,
        lighter: lighten($black, 20%),
        light:  lighten($black, 10%),
        dark:   darken($black, 10%),
        darker: darken($black, 20%)
    )
);
 
@function brand-colour($brand-colour, $tone: 'base') {
    @return map-get(map-get($brand-colours, $brand-colour), $tone);
}
@function get-brand-colour($brand-colour, $tone: 'base') {
    @return map-get(map-get($brand-colours, $brand-colour), $tone);
}