---
layout: archive
title: Conor McAfee | Designer &amp; Front-End Developer
description: Be sure to check out my latest journals on design & front-end development
---

<div class="post post--journal">

	<div class="wrapper">
		
		<h1 class="post__header">Journals</h1>
		
	</div>

</div>

<div class="wrapper">

	<article>

		<ul class="post-archive__list" data-archive="journal">
		{% for post in site.categories.journal %}
			<li class="post-archive__item">
				<a href="{{ post.url | prepend: site.baseurl }}" class="post-archive__link">{{ post.title }}<span class="post-archive__date">{{ post.date | date: "%b %-d, %Y" }}</span></a>
				<a href="{{ post.url | prepend: site.baseurl }}" class="btn">Read Journal</a>
			</li>
		{% endfor %}
		</ul>
		
	</article>

	<aside class="related related--journal">

		<div class="welcome-card welcome-card--middle welcome--one">
      		<div class="welcome-card__image"></div>
      		<img src="../assets/images/conor-mcafee-logo.svg" alt="Conor McAfee | Designer &amp; Front-End Developer" height="60" width="200" class="welcome-card__logo">
      		<p class="welcome-card__logo-text">Designer <span>&amp;</span> Front-End Developer</p>
		    
		    <ul class="welcome-card__social-list">
		        <li class="welcome-card__social-item"><a href="http://www.twitter.com/conormcafee" target="_blank" title="Follow me on Twitter" class="sprite twitter"></a></li>
		        <li class="welcome-card__social-item"><a href="http://www.instagram.com/conormcafee" target="_blank" title="Follow me on Instagram" class="sprite instagram"></a></li>
		        <li class="welcome-card__social-item"><a href="http://www.dribbble.com/conormcafee" target="_blank" title="Follow me on Dribbble" class="sprite dribbble"></a></li>
		        <li class="welcome-card__social-item"><a href="http://www.github.com/conormcafee" target="_blank" title="Follow me on Github" class="sprite github"></a></li>
      		</ul>
    	</div>

		{% include contact.html %}

	</aside>

</div>