---
layout: default
---

{% include syntax-highlighting.html %}

<section>

    <h1>{{ page.title }}</h1>

    <p class="post__date">{{ page.date | date: "%b %-d, %Y" }}</p>

	<article>

		{{ content }}

	</article>

</section>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "creator": "{{ page.author }}",
  "url": "{{ site.url }}{{ page.url }}",
  "image": [
    "{{ site.url }}/assets/images/{{ page.thumbnail-desktop }}"
  ],
  "datePublished": "{{ page.date }}",
  "description": "{{ page.description }}",
  "articleBody": "{{ content | strip_html }}"
}
</script>
