---
layout: default
---

{% include syntax-highlighting.html %}

{% include header.html %}

<div class="post post--{{ page.type }}">

	<div class="wrapper">
		
		<h1 class="post__header">{{ page.title }}</h1>

		<p class="post__date">{{ page.date | date: "%b %-d, %Y" }}</p>
		
	</div>

</div>

<div class="wrapper wrapper--edit wrapper--{{ page.type }}">

	<article class="post__content post--{{ page.type }}">

		{{ content }}

	</article>

</div>

{% include footer.html %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "creator": "{{ page.author }}",
  "url": "{{ site.url }}{{ page.url }}",
  "image": [
    "{{ site.url }}/assets/images/{{ page.thumbnail-desktop }}"
  ],
  "datePublished": "{{ page.date }}",
  "description": "{{ page.description }}",
  "articleBody": "{{ content | strip_html }}"
}
</script>

