---
layout: default
---

{% include header.html %}

<main class="archive">

	<div class="wrapper">

		<div class="archive-middle">
			
			{{ content }}

		</article>

		</div>

	</div>

</main>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<script src="{{ site.baseurl }}/assets/js/apollo.min.js"></script>

<script>
	document.getElementById('case-study-btn').addEventListener('click', function (e) {
		var x = document.querySelectorAll('[data-post="case-study"]');
			for (var i = 0; i < x.length; i++)
			apollo.toggleClass(x[i], 'is-hidden is-visible');
	}, false);

	document.getElementById('journal-btn').addEventListener('click', function (e) {
		var x = document.querySelectorAll('[data-post="journal"]');
			for (var i = 0; i < x.length; i++)
			apollo.toggleClass(x[i], 'is-hidden is-visible');
	}, false);

	document.getElementById('labs-btn').addEventListener('click', function (e) {
		var x = document.querySelectorAll('[data-post="labs"]');
			for (var i = 0; i < x.length; i++)
			apollo.toggleClass(x[i], 'is-hidden is-visible');
	}, false);
</script>