---
layout: default
---

{% include header.html %}

<main class="m-top post">

	<div class="wrapper">

		<div class="post__header">

			<h1 class="post__heading">{{ page.title }}</h1>

			<p class="post__date">{{ page.date | date: "%b %-d, %Y" }}</p>

		</div>

		<div class="post__wrap">

			<div class="post__image">

				<img src="{{ site.baseurl }}/assets/images/{{ page.header }}" class="post--image" title="{{ post.title }}" />

			</div>

			<div class="post__content">
						
				{{ content }}

			</div>

		</div>
	
	{% include footer.html %}

	</div>

</main>

<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "creator": "{{ page.author }}",
  "url": "{{ site.url }}{{ page.url }}",
  "image": [
    "{{ site.url }}/assets/images/{{ page.thumbnail-desktop }}"
  ],
  "datePublished": "{{ page.date }}",
  "description": "{{ page.description }}",
  "articleBody": "{{ content | strip_html }}"
}
</script>

